.banner {
  padding-top: 5px;
  font-family: 'Open Sans', sans-serif;
}

#hide-banner {
  float: right;
  margin-right: 1in;
  display: block;
  position: relative;
  margin-top: -7%;
  font-size: 20px;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
}

#hide-banner:hover {
  background-color: #079898;
  color: white;
  text-decoration: underline;
}
.quiz-question {
  padding-top: 10px;
  color: #4a4a4a;
}

a {
  padding-top: 5px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: #03b3b3;
  color: white;
}

#signup {
color: #fff;
float: right;
margin-right: 2%;
position: relative;
padding: 15px;
margin-top: -4%;
display: block;
background-color: #03b3b3;
border-radius: 4px;
font-family: 'Open Sans', sans-serif;
}

#signup:hover {
  background-color: #079898;
  color: white;
  text-decoration: underline;
  border: solid 1px #000;
}

.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
}

.btn-bgstroke:hover {
  background-color: #079898;
  color: white;
}

.header2 {
  background-color: white;
  width: 100%;
  padding: 10px 0;
}

.logo {
  margin-top: .5%;
  margin-left: 5%;
  width: 10%;
  height: 10%;
}

.btn-dark {
  border-radius: 10px;
}

#javascript, #ruby, #c {
  display: none;
  width: 250px;
  height: 250px;
}



.radio {
  font-family: 'NimbusSanLRegular'; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 30px;
}


/* fonts for later use

/* { 
  font-family: 'NimbusSanLRegular'; 
  font-weight: normal; 
  font-style: normal; 
}  */

  /* {
font-family: 'Open Sans', sans-serif;
} */